version: '3'
services:
  db:
    container_name: timely
    image: postgres:14-alpine
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: abcd1234!
      POSTGRES_DB: timely